body{
background-color: rgb(220, 184, 148);/*cor de fundo*/
}
.a{
position: absolute;/*permite mover elementos*/
}
#caixa{/*caixa de login, login.php*/
top: 380px;/*localização*/
left:540px;/*localização*/
width: 430px;/*largura*/
height: 300px;/*altura*/
background-color: white;/*cor de fundo*/
border: 4px solid darkgreen;/*borda*/
border-radius: 10%;/*adiciona circuferência*/
}
#nr{/*Nova Redação, index*/
left: 60px;/*localização*/
top: 60px;/*localização*/
width: 300px;/*largura*/
height: 30px;/*altura*/
background-color: lightgreen;/*cor de fundo*/
cursor: pointer;/*cria interação*/
border-radius: 20px;
}
#r{/*Redações, index*/
left: 60px;/*localização*/
top: 120px;/*localização*/
width: 300px;/*largura*/
height: 30px;/*altura*/
background-color: lightgreen;/*cor de fundo*/
cursor: pointer;/*cria interação*/
border-radius: 20px;
}
#c{/*configurações, index*/
left: 60px;/*localização*/
top: 180px;/*localização*/
width: 300px;/*largura*/
height: 30px;/*altura*/
background-color: lightgreen;/*cor de fundo*/
border-radius: 20px;
}
#pr{/*Redações*/
left: 650px;/*localização*/
top: 490px;/*localização*/
width: 200px;/*largura*/
height: 30px;/*altura*/
}
#s1{/*borda_superior*/
width: 1527px;/*largura*/
height: 140px;/*altura*/
top: 0px;/*localização*/
left: 0px;/*localização*/
background-color: rgb(68, 168, 68);
/*cor de fundo*/
}
#s2{
width: 1527px;/*largura*/
height: 40px;/*altura*/
top: 100px;/*localização*/
left: 0px;/*localização*/
background-color: rgb(34, 116, 34);
/*cor de fundo*/
}
#s3{
width: 1527px;/*largura*/
height: 30px;/*altura*/
top: 130px;/*localização*/
left: 0px;/*localização*/
background-color: rgb(109, 112, 91);
/*cor de fundo*/
/*borda_superior*/
}
#logo{/*posição padrão da logo*/
width: 440px;/*largura*/
height: 320px;/*altura*/
top: -100px;/*localização*/
left: -50px;/*localização*/
}
#logo2{/*posição da logo central do index*/
width: 600px;/*largura*/
height: 480px;/*altura*/
top: 60px;/*localização*/
left:450px;/*localização*/
font-size: 40px;
}
#tit1{/*titulo da pagina, redações*/
color: rgb(68, 209, 68);/*cor dos simbolos*/
background-color:#CECECE;/*cor do fundo*/
top: 210px;/*localização*/
left: 600px;/*localização*/
font-size: 40px ;/*tamanho do caracter*/
width: 300px;/*largura*/
height: 70px;/*altura*/
display: flex;/*deixa objetos centralizados*/
align-items: center;/*deixa objetos centralizados*/
justify-content: center;/*deixa objetos centralizados*/
}
#email{/*email, login.php*/
top: 50px;/*localização*/
left: 80px;/*localização*/
background-color: rgb(217,
 203, 203);/*cor de fundo*/
border-radius: 25%;/*circuferência*/
height: 40px;/*altura*/
width: 250px;/*largura*/
padding-left: 20PX;/*espaçamento*/
}
#senha{/*senha, login.php*/
top: 120px;/*localização*/
left: 80px;/*localização*/
background-color: rgb(217, 203, 203);/*cor de fundo*/
border-radius: 25%;/*circuferência*/
height: 40px;/*altura*/
width: 250px;/*largura*/
padding-left: 20PX;/*espaçamento*/
}
#entrar{/*entrar, login.php*/
top: 190px;/*localização*/
left: 160px;/*localização*/
background-color: rgb(217, 203, 203);/*cor de fundo*/
border-radius: 25%;/*circuferência*/
height: 40px;/*altura*/
width: 120px;/*largura*/
text-align: center;/*centraliza o texto*/
color: white;/*cor dos simbolos*/
background-color: darkgreen;/*cor de fundo*/
cursor: pointer;/*gera uma interação*/
}
#cadastro{/*cadastro, login.php*/
left : 90px;/*localização*/
top : 230px;/*localização*/
color: orange;/*cor dos simbolos*/
cursor: pointer;/*gera uma interação*/
}
#perfil{/*perfil, nova redação e redações*/
right: 150px;/*localização*/
top: 10px;/*localização*/
height: 90px;/*altura*/
width: 90px;/*largura*/
cursor: pointer;
}
#barra{/*barra, nova redação e redações*/
 right:30px;/*localização*/
 top:30px;/*localização*/
 height: 50px;/*altura*/
 width: 70px;/*largura*/
 cursor: pointer;/*aplica interação*/
}
#menu{/*menu, nova redação e redações*/
top: 100px;/*localização*/
border: 2px solid gray;/*borda*/
right: 0px;/*localização*/
height: 675px;/*altura*/
width: 250px;/*largura*/
background: linear-gradient(to bottom, green,white,
white,white,white,white);/*cor de fundo*/
display: none;/*deixa invisivel*/
}
#b1{/*botão do menu, menu*/
cursor: pointer;/*aplica interação*/
top: 60px ;/*localização*/
width: 250px;/*largura*/
height: 40px;/*altura*/
background-color: white;/*cor de fundo*/
color: rgb(123, 231, 123);/*cor dos simbolos*/
font-size: 20px;/*tamanho dos simbolos*/
border:none;/*deixa as linha invisiveis*/
}
#b2{/*botão do menu, menu*/
cursor: pointer;/*aplica interação*/
top: 100px ;/*localização*/
width: 250px;/*largura*/
height: 40px;/*altura*/
background-color: white;/*cor de fundo*/
font-size: 20px;/*tamanho dos simbolos*/
color: rgb(123, 231, 123);/*cor dos simbolos*/
border: none;/*deixa as linhas invisiveis*/
}
#caixa2{/*caixa do login,register.php*/
top: 380px;/*localização*/
left:540px;/*localização*/
width: 400px;/*largura*/
height: 280px;/*altura*/
background-color: white;/*cor de fundo*/
border: 4px solid darkgreen;/*borda*/
border-radius: 10%;/*adiciona circuferência*/
}
#nome{/*senha, register.php*/
top: 30px;/*localização*/
left: 60px;/*localização*/
background-color: rgb(217, 203, 203);/*cor de fundo*/
border-radius: 25%;/*circuferência*/
height: 40px;/*altura*/
width: 250px;/*largura*/
padding-left: 20PX;/*espaçamento*/
}
#email2{/*email, register.php*/
top: 90px;/*localização*/
left: 60px;/*localização*/
background-color: rgb(217,
 203, 203);/*cor de fundo*/
border-radius: 25%;/*circuferência*/
height: 40px;/*altura*/
width: 250px;/*largura*/
padding-left: 20PX;/*espaçamento*/
}
#senha2{/*senha, register.php*/
top: 150px;/*localização*/
left: 60px;/*localização*/
background-color: rgb(217, 203, 203);/*cor de fundo*/
border-radius: 25%;/*circuferência*/
height: 40px;/*altura*/
width: 250px;/*largura*/
padding-left: 20PX;/*espaçamento*/
}
#registrar{/*registrar, register.php*/
top: 220px;/*localização*/
left: 130px;/*localização*/
background-color: rgb(217, 203, 203);/*cor de fundo*/
border-radius: 25%;/*circuferência*/
height: 40px;/*altura*/
width: 120px;/*largura*/
text-align: center;/*centraliza o texto*/
color: white;/*cor dos simbolos*/
background-color: darkgreen;/*cor de fundo*/
cursor: pointer;/*gera uma interação*/
}
#EC{/*erro de cadastro, register.php*/
    top:180px;
    left:100px;
    color: red;
}
#vr{/*volta para o login*/
top: 20px;
width: 60px;
height: 60px;
cursor: pointer;
}
#menu_p{/*menu do perfil, nova redação e redações*/
top: 100px;/*localização*/
border: 2px solid gray;/*borda*/
right: 0px;/*localização*/
height: 300px;/*altura*/
width: 350px;/*largura*/
background: linear-gradient(to bottom, green,white,
white,white,white,white);/*cor de fundo*/
display: none;/*deixa invisivel*/
}
#np{
text-align: center;
}
#sair{
color:rgb(123, 231, 123);/*cor dos simbolos*/
text-decoration: none;
width: 100%;
height: 40px;
text-align: center;
font-size: 30px;
top: 250px;
}
#ni{/*boas vindas, index*/
 color: green;
 bottom: 30px;
 right: 40px;
}
#caixa3{
width: 700px;
height: 400px;
top: 280px;
left: 400px;
background-color:#F6F4F0;
border-radius: 5%;
border: 2px solid green;
}
#criartema{
 left: 130px;
 top: 20px;
 color: #7EB543BF;
 font-size: 40px;
}
#tema{
    top: 260px;
    left: 90px;
    width: 500px;
    height: 30px;
    background-color: white;
    color: #7EB54399;
    text-align: center;
    border-radius: 20px;
}
#lapis{
    top: 260px;
    right: 70px;
    cursor: pointer;
}
